html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
    display: block;
}
body {
    margin: auto;
}


/* NAVIGATION BAR */
.navigation {
    width:100%;
    padding: 10px;
    color: white;
    background-color: teal;
}
.navbar {
    float:right;
    padding: 20px;
}
a {
    padding: 10px;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: goldenrod;
}

h1 {
    color: white;
    text-align: center;
}

/* CONTENT */
h1.about-us-title {
    margin-top: 50px;
    letter-spacing: 2px;
    font-size: 50px;
}   
.coffee-on-the-beach {
    display: block;
    height: 400px;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid; 
    border-radius: 30px;
    border-color: teal;
}
.about-us-body {
    text-align: center;
    margin: 40px 80px;
    color: white;
}



/* FOOTER */
footer {
    background-color:teal;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 5px;
  
}
p.foot-slogan {
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}