html {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
    display: block;
}
body {
    margin: auto;
}
.navigation {
    width:100%;
    padding: 10px;
    color: white;
    background-color: teal;
}
.navbar {
    float:right;
    padding: 20px;
}
a {
    padding: 10px;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: goldenrod;
}



/* CONTENT */

.cha-title > h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}
.cha-firstlook {
    filter: contrast(1.58);
    display: block;
    height: 500px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}
.cha-map-container {
    display: grid;
    background-color: #b78c56;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
iframe {
    box-shadow: 0px 10px 30px rgb(97, 76, 48);
    border-radius: 20px;
    width: 350px;
    height: 400px;
}
.cha-map-text {
    padding-top: 35px;
    padding-left: 15px;
    margin-left: 25%;
    color: white;
}  
.menu-favorites {
    color: white;
}
.column {
    float: left;
    background-color: ;
}
.column > img {
    height: 200px;
}
.menu-items {
    max-height: 300px;
    height: 40vh;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    width: 100%;
    justify-content: space-evenly;
}
.menu-items:after {
    content: "";
    display: table;
    clear: both;
}
.menu-title {
    color: white;
    text-align: center;
    letter-spacing: 10px;
    padding-bottom: 50px;
}
.menu-list {
    margin: 100px 0px;
}



/* FOOTER */

footer {
    background-color:teal;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 5px;
  
}
p.foot-slogan {
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}