html {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-color: #ead1ba;
    display: block;
}
body {
    overflow-x: hidden;
}
h1 {
    padding-bottom: 10px;
    font-weight: lighter;
}
.navigation {

    width:100%;
    padding: 10px;
    color: white;
    background-color: teal;
}
.navbar {
    float:right;
    padding-top: 20px;
}
a {
    padding: 10px;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover {
    color: goldenrod
}
video {
    width: 100%;
    left: 0;
    right: 0;
    opacity: 90%;
    filter: contrast(1.58);
    transform: scaleX(-1);
    height: 65vh;
    max-height: 100%;
    object-fit: cover;
}
.page-intro {
    padding: 20px 20px;
    font-size:35px;
    color: #66433f;
    text-align: center;
}
/*ANIMATION*/
p.about-us-mission {
    color: teal;
    font-size: x-large;
    text-align: center;
    margin-bottom: 80px;
}
img.bean-heart{
    height: 35px;
}
.animation1 {
    animation-name: coffeebeanheart;
    transition-duration: 2s;
    animation-duration: 8s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    padding-top: 70px;
}
.mission {
    background-color: burlywood;
    padding: 1px;
    margin: 50px 0px;
    width: 100%;
    max-height: 220px;
}
/*END animation*/

h2 {
    text-align: center;
    color: white;
    padding-bottom: 40px;
    font-size: xxx-large;
}
.column {
    float: left;
    width: 33.33%;
    text-align: center;
}
.three-cafes-list:after {
    content: "";
    display: table;
    clear: both;
}
.three-cafes {
    background-color: teal;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
    margin: 15px;
    border-radius:40px;
    box-shadow: inset 1px 1px 10px 20px rgb(0, 98, 98);
}
.hashtag {
    color: white;
    background-color: burlywood;
    font-size: larger;
    text-align: center;
    border-radius: 800px;

    margin: 20px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    padding:20px 10px;
}
footer {
    background-color:teal;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 5px;
  
}
p.foot-slogan {
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}
